# OS specific files
Thumbs.db
.DS_Store
._*

# --- Don't track user statistics
statistics/**
instance/statistics/**

# --- Whitelist app/statistics
!app/statistics/

# Don't track generated statistics
*.csv
log_merging_config.json
investigateLogs.py

# --- Don't track Python cache & virtual environments
__pycache__/
*.pyc
env/
venv/
.venv/

# --- Debugpy logs, WinMerge Backups etc.
*.log
*.bak
*.hex

# --- Internal config files & assets
conf/
reversim-conf
!examples/conf
!instance/conf

# --- Database files
*.db
*.sqlite
*.sqlite3
*.db-journal
*.db-shm
*.db-wal

# --- Generated level thumbnails
doc/levels

# --- Don't push instance relevant configuration
tmp/
secrets/
